@page "/"
@attribute [Authorize]
@inject ApiService Api
@inject NavigationManager Navigation

@if (user is not null)
{
    <h1>Hello, @user.DisplayName!</h1>
}
else
{
    <p>Loading...</p>
}

@code {
    User? user;

    protected override async Task OnInitializedAsync()
    {
        user = await Api.GetCurrentUserAsync();
        if (user is null)
            Navigation.NavigateTo("/onboarding", replace: true);
    }
}
