@page "/"
@attribute [Authorize]
@inject ApiService Api
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject IConfiguration Config
@if (user is not null)
{
    <h1>Hello, @user.DisplayName!</h1>
}
else
{
    <p>Loading...</p>
}
